/* banner */
header {
    font-family: Georgia;
    font-size: 25px;
    font-weight: bold;
    color: cornsilk;
    text-align: center;
    background-image: url("images/header background.jpg")
}

/* headers */
h1 {
    text-shadow: 3px 3px black;
}

h2 {
    font-family: Georgia;
    font-size: 20px;
    text-align: center;
    text-decoration-line: underline;
}

/* nav bar */
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:cornsilk;
}

.nav-links {
    display: inline;
}

  .nav-links a {
    color:deeppink;
    font-size: 25px;
    text-align: center;
    padding: 145px;
    text-decoration: none;
  }

  li a:hover {
    color: pink;
  }

/* main page */
/* product table */
table {
    text-align: center;
    border: 3px solid black;
    border-color: pink;
    margin-left: auto;
    margin-right: auto;
    
}

td {
    border: 1px solid black;
    border-color: pink;
}

#eyelashes{
    padding-right: 10px;
}

#lipstick{
    float: right;
    padding-left: 10px;
}

.products {
    text-align: center;
}

/* contact page */
input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 2px solid deeppink;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 12px;
  }
  
  input[type=submit] {
    background-color: deeppink;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: cornsilk;
    color: black;
  }
  
  .container {
    border-radius: 5px;
    background-color: rgb(245, 209, 215);
    padding: 20px; 
  }

/*about page */
p {
  text-align: center;
}

/* reference page */
.ref {
  text-align: center;
  }

ul {
  list-style-type: none;
}

.li a {
  color:deeppink;
}

li a:hover {
  color: pink;
}
